:root{
    --nav-color: rgba(255, 255, 255, 0.9);
    --nav-color-bold: rgb(200,200,200);
    --footer-color: rgb(75,75,75);
    --footer-color-light: rgba(60,60,60);
    --footer-color-trans: rgba(60,60,60, .5);
    --main-color: rgb(0,164,167);
    --nav-font-color: rgb(150,150,150);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    min-height: 100vh;
}





/* NAVBAR */
nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: var(--nav-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    transition: background-color .3s ease;
}
nav .logo{
    display: flex;
    align-items: center;
    height: 10vh;
    padding-left: 20px;
}
nav .logo:hover{
    cursor: pointer;
}
nav .logo img{
    height: 100%;
}
nav .logo h1{
    color: var(--nav-font-color);
    font-size: 16px;
    margin-left: 10px;
    letter-spacing: 1px;

    transition: color .3s ease;
}
nav .logo:hover h1{
    color: var(--main-color);
}
nav .links, nav .iniciarSesion{
    padding: 0 20px;
    flex: auto;
    display: flex;
    justify-content: flex-end;
}
nav .links a, nav .iniciarSesion a{
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--nav-font-color);

    transition: color .3s ease;
}
nav .links a:hover, nav .iniciarSesion a:hover{
    color: var(--main-color);
}
nav .iniciarSesion{
    flex: none;
    border-left: 2px solid var(--nav-color-bold);
}
nav .sesion{
    display: none;
}





/* CONTENEDOR */
.contenedor{
    min-height: 100vh;
}




/* MAIN */
main section{
    height: 100vh;
}

/* VANISH */
main section .vanish{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg ,rgba(255, 255, 255, 1), rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
}
main section .vanish .sec{
    padding: 20px;
    width: 40%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main section .vanish .sec p, main section .vanish .sec h2{
    color: var(--footer-color);
}
main section .vanish .sec p, main section .vanish .sec h2, main section .vanish .sec a{
    margin: 15px 0;
}
main section .vanish .sec p{
    line-height: 1.4;
}
main section:nth-child(odd) .vanish{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg ,rgba(255, 255, 255, 0), rgba(255, 255, 255, .8), rgba(255, 255, 255, 1));
}
main section:nth-child(odd) .vanish .sec{
    padding: 20px;
    margin-left: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* VANISH-OTHER */
main section .vanish-other{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgba(255,255,255, .7); */
    background-image: linear-gradient(-90deg, rgba(255,255,255, .8),rgba(255,255,255, .9),rgba(255,255,255, .95),rgba(255,255,255, 1));
}
main section .vanish-other p, main section .vanish-other h2, main section .vanish-other a{
    margin: 15px 0;
}
main section .vanish-other p, main section .vanish-other h2{
    color: var(--footer-color);
}
main section .vanish-other h2{
    color: white;
    padding: 10px 20px;
    background-color: var(--main-color);
}
main section .vanish-other p{
    line-height: 1.4;
}
main section:nth-child(odd) .vanish-other{
    width: 40%;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgba(255,255,255, .7); */
    background-image: linear-gradient(-90deg, rgba(255,255,255, 1),rgba(255,255,255, .95),rgba(255,255,255, .9),rgba(255,255,255, .8));
}





/* VANISH-2 */
main section .vanish-2{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255,255,255, .8);
    color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main section .vanish-2 *{
    margin: 15px 0;
}
.vermas{
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bold;

    transition: background-color .3s ease;
}
.vermas-2{
    color: white;
}
.vermas:hover{
    background-color: var(--main-color);
    color: white;
}





main section#servicios{
    background-image: url("../img/img1.jpg");
    background-size: cover;
}
main section#acercade{
    background-image: url("../img/img4.jpg");
    background-size: cover;
}
main section#citas{
    background-image: url("../img/img3.jpg");
    background-size: cover;
}





/* SLIDER */
.slider-container{
    height: 100vh;
    overflow: hidden;
}
.slider{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;

    transition: background-image .6s ease-in;
}
.slider .prev, .slider .next{
    position: absolute;
    width: 10%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(-90deg, rgba(75,75,75, 0),rgba(75,75,75, .5));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;

    transition: background-image .3s ease;
}
.slider .next{
    right: 0;
    background-image: linear-gradient(90deg, rgba(75,75,75, 0),rgba(75,75,75, .5));
}
.slider .next:hover{
    background-image: linear-gradient(90deg, rgba(75,75,75, 0),rgba(75,75,75, .7));
}
.slider .prev:hover{
    background-image: linear-gradient(-90deg, rgba(75,75,75, 0),rgba(75,75,75, .7));
}


.slider-content{
    width: 100%;
    height: 100%;
    padding: 0 10%;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-content .slider-img{
    flex: 1;
    width: 50px;
    margin: 10px;
}
.slider-content .slider-info{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    color: white;
    padding: 20px;

    border-left: 1px solid white;
}
.slider-content .slider-info>*{
    margin: 10px 0px;
    text-align: justify;
}
.slider-content .slider-info h3{
    background-color: var(--main-color);
    text-align: left;
    padding: 10px 20px;
}




/* FOOTER */
footer{
    min-height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
}
.secciones{
    width: 90%;
    margin-top: 50px;
    display: flex;
    border-collapse: collapse;
}
.secciones>div{
    flex: 1;
    padding: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secciones>.direccion{
    flex: 2;
}
.secciones .contactos{
    width: 100%;
}
.secciones>div>h4{
    margin-bottom: 15px;
    color: var(--main-color);
}
.secciones .contactos a, .secciones .contactos p{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 10px;
}
.secciones i{
    font-size: 14px;
}