:root{
    --nav-color: rgba(255, 255, 255, 0.9);
    --nav-color-bold: rgb(200,200,200);
    --footer-color: rgb(75,75,75);
    --footer-color-light: rgba(60,60,60);
    --main-color: rgb(0,164,167);
    --nav-font-color: rgb(150,150,150);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    min-height: 100vh;
}





/* NAVBAR */
nav{
    position: fixed;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: var(--nav-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    transition: background-color .3s ease;
}
nav .logo{
    height: 10vh;
    padding-left: 20px;
}
nav .logo:hover{
    cursor: pointer;
}
nav .logo img{
    height: 100%;
}
nav .links, nav .iniciarSesion{
    padding: 0 20px;
    flex: auto;
    display: flex;
    justify-content: flex-end;
}
nav .links a, nav .iniciarSesion a{
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--nav-font-color);

    transition: color .3s ease;
}
nav .links a:hover, nav .iniciarSesion a:hover{
    color: var(--main-color);
}
nav .iniciarSesion{
    flex: none;
    border-left: 2px solid var(--nav-color-bold);
}
nav .sesion{
    display: none;
}





/* CONTENEDOR */
.contenedor{
    min-height: 100vh;
}




/* MAIN */
main section{
    height: 100vh;
}
main section .vanish{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .5);
}
main section#servicios{
    background-image: url("../img/img1.jpg");
    background-size: cover;
}




/* FOOTER */
footer{
    height: 100vh;
    overflow: hidden;
    background-color: var(--footer-color);
}