<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>com.clinica.controllers.Filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/Cargos</url-pattern>
        <url-pattern>/Compras</url-pattern>
        <url-pattern>/Consultas</url-pattern>
        <url-pattern>/Consumibles</url-pattern>
        <url-pattern>/Contactos</url-pattern>
        <url-pattern>/Departamentos</url-pattern>
        <url-pattern>/Empleados</url-pattern>
        <url-pattern>/Empresas</url-pattern>
        <url-pattern>/Especialidades</url-pattern>
        <url-pattern>/Especialidades_medico</url-pattern>
        <url-pattern>/Horarios</url-pattern>
        <url-pattern>/Inventarios</url-pattern>
        <url-pattern>/Laboratorios</url-pattern>
        <url-pattern>/Marcas</url-pattern>
        <url-pattern>/Menus</url-pattern>
        <url-pattern>/Municipios</url-pattern>
        <url-pattern>/Noticias</url-pattern>
        <url-pattern>/Pacientes</url-pattern>
        <url-pattern>/Permisos</url-pattern>
        <url-pattern>/Reportes</url-pattern>
        <url-pattern>/Roles</url-pattern>
        <url-pattern>/Sucursales</url-pattern>
        <url-pattern>/Usuarios</url-pattern>
        <url-pattern>/Ventas</url-pattern>
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.clinica.controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servicios</servlet-name>
        <servlet-class>com.clinica.controllers.Home</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>servicios</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>com.clinica.controllers.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Laboratorios</servlet-name>
        <servlet-class>com.clinica.controllers.Laboratorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marcas</servlet-name>
        <servlet-class>com.clinica.controllers.Marcas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consumibles</servlet-name>
        <servlet-class>com.clinica.controllers.Consumibles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permisos</servlet-name>
        <servlet-class>com.clinica.controllers.Permisos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Especialidades_medico</servlet-name>
        <servlet-class>com.clinica.controllers.Especialidades_medico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compras</servlet-name>
        <servlet-class>com.clinica.controllers.Compras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventarios</servlet-name>
        <servlet-class>com.clinica.controllers.Inventarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ventas</servlet-name>
        <servlet-class>com.clinica.controllers.Ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultas</servlet-name>
        <servlet-class>com.clinica.controllers.Consultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleConsulta</servlet-name>
        <servlet-class>com.clinica.controllers.Consultas</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>detalle_consulta</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servicios</servlet-name>
        <url-pattern>/Servicios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.clinica.controllers.Login</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>logout</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.clinica.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>com.clinica.controllers.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sucursales</servlet-name>
        <servlet-class>com.clinica.controllers.Sucursales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pacientes</servlet-name>
        <servlet-class>com.clinica.controllers.Pacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cargos</servlet-name>
        <servlet-class>com.clinica.controllers.Cargos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Especialidades</servlet-name>
        <servlet-class>com.clinica.controllers.Especialidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empleados</servlet-name>
        <servlet-class>com.clinica.controllers.Empleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes</servlet-name>
        <servlet-class>com.clinica.controllers.Reportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filtro</servlet-name>
        <servlet-class>com.clinica.controllers.Filtro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Miniviews</servlet-name>
        <servlet-class>com.clinica.controllers.Miniviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactos</servlet-name>
        <servlet-class>com.clinica.controllers.Contactos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Horarios</servlet-name>
        <servlet-class>com.clinica.controllers.Horarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sucursales</servlet-name>
        <url-pattern>/Sucursales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pacientes</servlet-name>
        <url-pattern>/Pacientes</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Cargos</servlet-name>
        <url-pattern>/Cargos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Especialidades</servlet-name>
        <url-pattern>/Especialidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empleados</servlet-name>
        <url-pattern>/Empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes</servlet-name>
        <url-pattern>/Reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filtro</servlet-name>
        <url-pattern>/Filtro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Miniviews</servlet-name>
        <url-pattern>/Miniviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactos</servlet-name>
        <url-pattern>/Contactos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Laboratorios</servlet-name>
        <url-pattern>/Laboratorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marcas</servlet-name>
        <url-pattern>/Marcas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Horarios</servlet-name>
        <url-pattern>/Horarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consumibles</servlet-name>
        <url-pattern>/Consumibles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permisos</servlet-name>
        <url-pattern>/Permisos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Especialidades_medico</servlet-name>
        <url-pattern>/Especialidades_medico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compras</servlet-name>
        <url-pattern>/Compras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventarios</servlet-name>
        <url-pattern>/Inventarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ventas</servlet-name>
        <url-pattern>/Ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultas</servlet-name>
        <url-pattern>/Consultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleConsulta</servlet-name>
        <url-pattern>/DetalleConsulta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Home
        </welcome-file>
    </welcome-file-list>
</web-app>
